body {
  font-family: "Meiryo", sans-serif;
  background: #eee; }

.page, .footer {
  margin: 16px auto;
  overflow: hidden;
  background: #fff;
  max-width: 768px; }

.masthead {
  margin-bottom: 16px; }
  .masthead h1 {
    font-size: 24px; }

.poketype {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  .poketype[data-poketype="0"] {
    background: #b8b895; }
  .poketype[data-poketype="1"] {
    background: #dc5949; }
  .poketype[data-poketype="2"] {
    background: #73b8ea; }
  .poketype[data-poketype="3"] {
    background: #f2d479; }
  .poketype[data-poketype="4"] {
    background: #95c779; }
  .poketype[data-poketype="5"] {
    background: #b8e7e7; }
  .poketype[data-poketype="6"] {
    background: #873530; }
  .poketype[data-poketype="7"] {
    background: #9b5fa7; }
  .poketype[data-poketype="8"] {
    background: #e3cb8e; }
  .poketype[data-poketype="9"] {
    background: #b2bdea; }
  .poketype[data-poketype="10"] {
    background: #e36c9b; }
  .poketype[data-poketype="11"] {
    background: #bdb85f; }
  .poketype[data-poketype="12"] {
    background: #c2a75f; }
  .poketype[data-poketype="13"] {
    background: #6c6ca1; }
  .poketype[data-poketype="14"] {
    background: #6687e3; }
  .poketype[data-poketype="15"] {
    background: #6c594e; }
  .poketype[data-poketype="16"] {
    background: #c7d4e0; }
  .poketype[data-poketype="17"] {
    background: #fa90ba; }

.poketype-button {
  margin-bottom: 16px;
  cursor: pointer; }
  .poketype-button:hover, .poketype-button.active {
    background: #fff;
    text-shadow: none; }
    .poketype-button:hover[data-poketype="0"], .poketype-button.active[data-poketype="0"] {
      border: 1px solid #b8b895;
      color: #b8b895; }
    .poketype-button:hover[data-poketype="1"], .poketype-button.active[data-poketype="1"] {
      border: 1px solid #dc5949;
      color: #dc5949; }
    .poketype-button:hover[data-poketype="2"], .poketype-button.active[data-poketype="2"] {
      border: 1px solid #73b8ea;
      color: #73b8ea; }
    .poketype-button:hover[data-poketype="3"], .poketype-button.active[data-poketype="3"] {
      border: 1px solid #f2d479;
      color: #f2d479; }
    .poketype-button:hover[data-poketype="4"], .poketype-button.active[data-poketype="4"] {
      border: 1px solid #95c779;
      color: #95c779; }
    .poketype-button:hover[data-poketype="5"], .poketype-button.active[data-poketype="5"] {
      border: 1px solid #b8e7e7;
      color: #b8e7e7; }
    .poketype-button:hover[data-poketype="6"], .poketype-button.active[data-poketype="6"] {
      border: 1px solid #873530;
      color: #873530; }
    .poketype-button:hover[data-poketype="7"], .poketype-button.active[data-poketype="7"] {
      border: 1px solid #9b5fa7;
      color: #9b5fa7; }
    .poketype-button:hover[data-poketype="8"], .poketype-button.active[data-poketype="8"] {
      border: 1px solid #e3cb8e;
      color: #e3cb8e; }
    .poketype-button:hover[data-poketype="9"], .poketype-button.active[data-poketype="9"] {
      border: 1px solid #b2bdea;
      color: #b2bdea; }
    .poketype-button:hover[data-poketype="10"], .poketype-button.active[data-poketype="10"] {
      border: 1px solid #e36c9b;
      color: #e36c9b; }
    .poketype-button:hover[data-poketype="11"], .poketype-button.active[data-poketype="11"] {
      border: 1px solid #bdb85f;
      color: #bdb85f; }
    .poketype-button:hover[data-poketype="12"], .poketype-button.active[data-poketype="12"] {
      border: 1px solid #c2a75f;
      color: #c2a75f; }
    .poketype-button:hover[data-poketype="13"], .poketype-button.active[data-poketype="13"] {
      border: 1px solid #6c6ca1;
      color: #6c6ca1; }
    .poketype-button:hover[data-poketype="14"], .poketype-button.active[data-poketype="14"] {
      border: 1px solid #6687e3;
      color: #6687e3; }
    .poketype-button:hover[data-poketype="15"], .poketype-button.active[data-poketype="15"] {
      border: 1px solid #6c594e;
      color: #6c594e; }
    .poketype-button:hover[data-poketype="16"], .poketype-button.active[data-poketype="16"] {
      border: 1px solid #c7d4e0;
      color: #c7d4e0; }
    .poketype-button:hover[data-poketype="17"], .poketype-button.active[data-poketype="17"] {
      border: 1px solid #fa90ba;
      color: #fa90ba; }

.result-container {
  background: #333;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 16px; }

#result {
  margin-top: 8px; }

.hint-box {
  background: #eee;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px; }

#hint-text {
  margin-left: 6px; }

.footer {
  padding: 8px;
  text-align: center; }
  .footer .separator {
    color: #aaa; }

/*# sourceMappingURL=style.css.map */
