#main {
    overflow: hidden;
}

.masthead {
    margin-bottom: 16px;
    h1 {
        font-size: 24px;
    }
}

.poketype {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 5px rgba(#000, 0.4);
    border-radius: 4px;
    &[data-poketype="0"] {
        background: linear-gradient(to bottom, #b8b895, darken(#b8b895, 3%));
    }
    &[data-poketype="1"] {
        background: linear-gradient(to bottom, #dc5949, darken(#dc5949, 3%));
    }
    &[data-poketype="2"] {
        background: linear-gradient(to bottom, #73b8ea, darken(#73b8ea, 3%));
    }
    &[data-poketype="3"] {
        background: linear-gradient(to bottom, #f2d479, darken(#f2d479, 3%));
    }
    &[data-poketype="4"] {
        background: linear-gradient(to bottom, #95c779, darken(#95c779, 3%));
    }
    &[data-poketype="5"] {
        background: linear-gradient(to bottom, #b8e7e7, darken(#b8e7e7, 3%));
    }
    &[data-poketype="6"] {
        background: linear-gradient(to bottom, #873530, darken(#873530, 3%));
    }
    &[data-poketype="7"] {
        background: linear-gradient(to bottom, #9b5fa7, darken(#9b5fa7, 3%));
    }
    &[data-poketype="8"] {
        background: linear-gradient(to bottom, #e3cb8e, darken(#e3cb8e, 3%));
    }
    &[data-poketype="9"] {
        background: linear-gradient(to bottom, #b2bdea, darken(#b2bdea, 3%));
    }
    &[data-poketype="10"] {
        background: linear-gradient(to bottom, #e36c9b, darken(#e36c9b, 3%));
    }
    &[data-poketype="11"] {
        background: linear-gradient(to bottom, #bdb85f, darken(#bdb85f, 3%));
    }
    &[data-poketype="12"] {
        background: linear-gradient(to bottom, #c2a75f, darken(#c2a75f, 3%));
    }
    &[data-poketype="13"] {
        background: linear-gradient(to bottom, #6c6ca1, darken(#6c6ca1, 3%));
    }
    &[data-poketype="14"] {
        background: linear-gradient(to bottom, #6687e3, darken(#6687e3, 3%));
    }
    &[data-poketype="15"] {
        background: linear-gradient(to bottom, #6c594e, darken(#6c594e, 3%));
    }
    &[data-poketype="16"] {
        background: linear-gradient(to bottom, #c7d4e0, darken(#c7d4e0, 3%));
    }
    &[data-poketype="17"] {
        background: linear-gradient(to bottom, #fa90ba, darken(#fa90ba, 3%));
    }
}

.poketype-button {
    margin-bottom: 16px;
    cursor: pointer;
    &:active,
    &:hover,
    &.selected {
        opacity: 0.5;
    }
}

.result-container {
    background: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 16px;
}

#result {
    margin-top: 8px;
}

.hint-box {
    background: #eee;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    .glyphicon {
        margin-right: 6px;
    }
}
