#main {
    overflow: hidden;
}

.masthead {
    margin-bottom: 16px;
    h1 {
        font-size: 24px;
    }
}

$poke-type-colors: #b8b895 #dc5949 #73b8ea #f2d479 #95c779 #b8e7e7 #873530 #9b5fa7 #e3cb8e #b2bdea #e36c9b #bdb85f #c2a75f #6c6ca1 #6687e3 #6c594e #c7d4e0 #fa90ba;
.poketype {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 5px rgba(#000, 0.4);
    border-radius: 4px;
    @for $i from 1 to 19 {
        &[data-poketype="#{$i - 1}"] {
            $poke_type_color: nth($poke_type_colors, $i);
            border: 1px solid $poke_type_color;
            background: linear-gradient(to bottom, $poke_type_color, darken($poke_type_color, 3%));
        }
    }
}

.poketype-button {
    margin-bottom: 16px;
    cursor: pointer;
    &:hover,
    &.active {
        // box-shadow: 0 0 10px 0 rgba(#000, 0.4);
        background: #fff;
        text-shadow: none;
        @for $i from 1 to 19 {
            &[data-poketype="#{$i - 1}"] {
                $poke_type_color: nth($poke_type_colors, $i);
                color: $poke_type_color;
            }
        }
    }
}

.result-container {
    background: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 16px;
}

#result {
    margin-top: 8px;
}

.hint-box {
    background: #eee;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    .glyphicon {
        margin-right: 6px;
    }
}
